# [member]
ETCD_NAME={{ansible_hostname}}
ETCD_DATA_DIR="/var/lib/etcd"
#ETCD_SNAPSHOT_COUNTER="10000"
#ETCD_HEARTBEAT_INTERVAL="100"
#ETCD_ELECTION_TIMEOUT="1000"
ETCD_LISTEN_PEER_URLS="https://{{ansible_eth0["ipv4"]["address"]}}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ansible_eth0["ipv4"]["address"]}}:2379,https://localhost:2379"
#ETCD_MAX_SNAPSHOTS="5"
#ETCD_MAX_WALS="5"
#ETCD_CORS=""
#
#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ansible_eth0["ipv4"]["address"]}}:2380"

# For a three node cluster, this token will look like ETCD_INITIAL_CLUSTER=ip-10-2-23-233=https://10.2.23.233:2380,ip-10-2-23-224=https://10.2.23.224:2380,ip-10-2-23-227=https://10.2.23.227:2380
# See https://coreos.com/etcd/docs/latest/clustering.html
ETCD_INITIAL_CLUSTER="{% for host in groups['cluster'] %}{{hostvars[host]['ansible_hostname']}}=https://{{hostvars[host]['ansible_eth0']["ipv4"]["address"]}}:2380{% if not loop.last %},{% endif %}{% endfor %}"

ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ansible_eth0["ipv4"]["address"]}}:2379"
#ETCD_DISCOVERY=""
#ETCD_DISCOVERY_SRV=""
#ETCD_DISCOVERY_FALLBACK="proxy"
#ETCD_DISCOVERY_PROXY=""
#
#[proxy]
#ETCD_PROXY="off"
#
#[security]
ETCD_CERT_FILE="/etc/ssl/certs/etcd.pem"
ETCD_KEY_FILE="/etc/ssl/etcd.key"
#ETCD_CLIENT_CERT_AUTH="false"
ETCD_TRUSTED_CA_FILE="/etc/ssl/certs/ca.pem"
ETCD_PEER_CERT_FILE="/etc/ssl/certs/etcd.pem"
ETCD_PEER_KEY_FILE="/etc/ssl/etcd.key"
#ETCD_PEER_CLIENT_CERT_AUTH="false"
ETCD_PEER_TRUSTED_CA_FILE="/etc/ssl/certs/ca.pem"
#
#[logging]
#ETCD_DEBUG="false"
# examples for -log-package-levels etcdserver=WARNING,security=DEBUG
#ETCD_LOG_PACKAGE_LEVELS=""
